
@font-face{
   font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Asap-Regular.ttf);

}
@font-face{
   font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  src:url(../fonts/Asap-SemiBold.ttf);

}
@font-face{
   font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/Asap-Bold.ttf);

}
