.no-pd {
    padding: 0;
}

.content-wrapper {
    overflow: hidden;
    margin-top: 10px;
}

.border {
    width: 100%;
    height: 200px;
    border: 1px solid red !important;
    order: 1;
}

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.order3 {
    order: 4;
}

.single-box {
    overflow: hidden;
    border: 1px solid $BgColor;
    border-radius: 4px;
    margin-bottom: 20px;
    background: #fff;
}

.single-box-title {
    @include linear-gardient($BgColor, 15%);

    h2 {
        font-size: 1rem;
        padding: 15px 15px;
        color: #fff;
        margin: 0;
        a{
            color:#fff;
        }
    }
}

.marquee.single-box-content {
    margin-top: 15px;
}

.single-box-content {
    padding: 15px;
    overflow: hidden;
    h1{
        &.single-box-content-title{
            font-size: 1rem;

        }
    }
}

.single-item {
    border-bottom: 1px solid lighten(#ccc, 10%);
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:last-child {
        border-bottom: none;
    }
    h3 {
        font-weight: normal;
        .single-item-link {
            font-size: 0.875rem;
            color: $color-text;
            i {
                margin-right: 10px;
                color: $BgColor;
            }
        }
    }

    .single-item-image {
        width: 40%;
        margin-right: 5px;
        float: left;
        img {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}


.style-tb {
    .nb-root {
    	overflow: hidden;
        h3 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 5px;

            a {
                color: $BgColor;
            }
        }
        .nb-root-date {
            overflow: hidden;
            margin-bottom: 5px;
            span {
                font-size: 0.875rem;
                color: #c6c6c6;
            }

            i {
                @include style-icon();
                margin-right: 5px;
            }
        }
        .nb-root-image {
            float: left;
            width: 40%;
            margin-right: 10px;
        }
        .nb-root-text {
        	 font-size: 0.875rem;
            .read-more {
                color: #da251c;
            }
        }
    }
    .nb-child {
    	margin-top: 20px;
        .nb-child-list {
            
            width: 50%;
            float: left;
          margin-bottom: 10px;
            .nb-child-list-image {
                width: 30%;
                float: left;
                margin-right: 10px;
            }
            .nb-child-list-text {
                h3 {
                    font-weight: 500;
                    font-size: 0.875rem;
                    margin-bottom: 0px;
                }
                .nb-child-list-date {
                    overflow: hidden;
                    margin-bottom: 5px;
                    span {
                        font-size: 0.875rem;
                        color: #c6c6c6;
                    }
                    i {
                        @include style-icon();
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.style-lr {
    .nb-root {

        width: 50%;
        float: left;
        text-align: justify;
        margin-right: 15px;
        .nb-root-image {
            float: left;
            width: 100%;
            margin-bottom: 10px;
            img {
                width: 100%;
            }
        }
        h3 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 5px;

            a {
                color: $BgColor;
            }
        }

        .nb-root-date {
            overflow: hidden;
            margin-bottom: 5px;
            span {
                font-size: 0.875rem;
                color: #c6c6c6;
            }

            i {
                @include style-icon();
                margin-right: 5px;
            }
        }

        .nb-root-text {
            font-size: 0.875rem;
            .read-more {
                color: #da251c;
            }
        }
    }
    .nb-child {
        overflow: hidden;
        .nb-child-list {
            padding: 10px 0;
            &:first-child {
                padding: 0px 0 10px 0;
            }
            .nb-child-list-image {
                width: 30%;
                float: left;
                margin-right: 10px;

                img {
                    width: 100%;
                }
            }
            .nb-child-list-text {
                h3 {
                    font-weight: normal;
                    font-size: 0.875rem;
                    margin-bottom: 0px;
                }
                .nb-child-list-date {
                    overflow: hidden;
                    margin-bottom: 5px;
                    span {
                        font-size: 0.875rem;
                        color: #c6c6c6;
                    }
                    i {
                        @include style-icon();
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
.box-news-other {
    margin-top: 20px;
    padding:15px;
    h3 {
        font-size: 1rem;
    }
    ul {

        li {
            list-style: none;
            margin-left: 20px;
            i {
                margin-right: 15px;
            }
        }
    }
}