$color-text: #22313F;
$color-text-date:#959595;
$bgcolor-web: #da251c;
$bgcolor-box: #ebebeb;
$color-text-new-child:#6b6b6b;
$color-text-new-child-hover:#3e4196;

$BgColor: #2980b9;
$TextColor_Menu: #fff;
$TextColor_MenuHover: #eaeb28;